/* font-family: 'Arvo', serif;

    font-family: 'Quicksand', sans-serif;

    font-family: 'Rubik', sans-serif; */

body {
  background-image: url('/assets/back.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right;
}

h1 {
  font-family: Rubik, sans-serif !important;
  font-weight: 500 !important;
  text-align: center;
  color: #4f81c7;
}

h5 {
  color: #22559c;
}

p {
  font-family: Playfair + Display, sans-serif;
  font-weight: 500;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header {
  text-align: center;
}

.card {
  border: none !important;
  background: transparent !important;
}

.img {
  border-radius: 40px !important;
}

.navbar-light {
  background-color: #f8f4ef !important;
}

.footer {
  font-family: Playfair + Display, sans-serif;
  font-size: 10px;
  text-align: center;
}
