/* font-family: 'Arvo', serif;

    font-family: 'Quicksand', sans-serif;

    font-family: 'Rubik', sans-serif; */

h1 {
  font-family: Rubik, sans-serif !important;
  font-weight: 500 !important;
  text-align: center;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header {
  text-align: center;
}

.card {
  border: none !important;
}
